node_modules
npm-debug.log
.git
.gitignore
README.md
.env
.nyc_output
coverage
.nx
dist
tmp
.vscode
.idea
.DS_Store
*.log
*.tgz
*.tar.gz
.github
.husky
.prettierrc
.eslintrc*
jest.config.*
tsconfig.json
tsconfig.*.json
**/*.spec.ts
**/*.test.ts
**/*.e2e-spec.ts
**/e2e/**
**/.spec.swcrc
docker-compose*.yml
Dockerfile*
